*{
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: black;
    --secondary-color: green;
    --font-size: 20px;
}
body {
    max-width: 1100px;
    background-color: beige;
    font-family: "Edu QLD Beginner", serif;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
header {
   height: 90px;
    background-color: black;
    color: red;
    padding: 15px;
    font-size: 2rem;
}
main {
    margin: 0 auto;
    padding: 20px;
    background-color: green;
}
.image-container {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5); /* Optional: Background for better readability */
    padding: 0 ;
    width: 350px;
    margin: 0 auto;
}
h2 {
    background-color: blue;
    margin: 20px;
    border-radius: 30px;
    padding: 10px;

}
.content-wrapper {
    position: relative; /*  child elements position correctly */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    
    
}
#second-text {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    width: 350px;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.weather-heading::after {
    content: " ⛅"; /* Cloudy sunny weather icon */
    font-size: 1.5em;
}
.weather-icon {
    width: 50px;
    height: 50px;
    
}

footer {
    height: 90px;
    background-color: black;
    color: red;
    padding: 15px;
    font-size: 2rem;
}
